main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 7rem);
}

/* Task 1.3 */

/* media query */

/* small laptop screen */
@media screen and (max-width:1400px) {
    .sign-up h1 {
        font-size: 2.5rem;
    }

    .sign-up h2 {
        padding: 1.5rem 0;
        font-size: 1.5rem;
    }

}

/* Task 1.4 */
/* mobile screen */

@media screen and (max-width:768px) {
    main {
        grid-template-columns: 1fr;
        height: auto;
    }
}